.addO{
  width:100%;
  padding-left: 2%;
  height: 20px;
  margin: 10px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  &_text{
    padding-left: 5px;
    line-height: 20px;
  }
}
.addO:hover{
  color:rgb(19, 153, 231);
}
.addODis{
  padding-left: 2%;
  width:100%;
  height: 20px;
  margin: 10px;
  color: #bfbfbf;
  font-size: 20px;
  &_text{
    padding-left: 5px;
    line-height: 20px;
  }
}

.myOkrs{
  min-height: calc(100vh - 64px);
  height: fit-content;
}

.okrItem{
  @mixin container {
    width:96%;
    margin: 20px 2%;
    padding: 5px 15px 8px;
    background: #fff;
    position: relative;
    border-radius: 5px;
  }
  &_container{
    @include container();
    border: solid 1px transparent;
  }
  &_containerEdit{
    @include container();
    border: solid 1px #1890ff;
  }
  @mixin st {
    font-size:12px;
    color:#6b6a6a;
    text-align: center;
    width:50px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    top:13px
  }
  &_st1{
    @include st();
    right: 150px
  }
  &_st2{
    @include st();
    right: 91px
  }
  &_st3{
    @include st();
    right: 30px
  }
  &_keyCtn{
    width:180px;
    position: absolute;
    right: 40px;
    top: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    &_keyRow{
      height: 20px;
    }
    &_valueRow{
      height: 30px;
      line-height: 30px;
    }
  }
  &_oIndex{
    width: fit-content;
    min-width: 40px;
    height: 25px;
    line-height: 25px;
    font-weight: 600;
    color:white;
    font-size: 20px;
    background: #1890ff;
    letter-spacing: 1px;
    border-radius: 10px;
    text-align: center;
  }
  &_oNameContainer{
    height: 30px;
    border-bottom: 1.5px solid #bfbfbf;
    &_input{
      width:89%
    }
  }
  &_remove{
    position: absolute;
    right: 0;
    margin:auto;
    top:0;
    bottom:0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &_icon{
      font-size: 16px;
      color: #bfbfbf;
      vertical-align: top;
    }
  }
  &_remove:hover{
    transform:scale(1.2)
  }
  &_addKrCtn{
    padding-bottom: 10px;
  }
  &_addKr{
    color: #000;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
  }
  &_addKr:hover{
    color: #1399e7;
  }
  &_opsCtn{
    border-top: 1.5px solid #bfbfbf;
    padding-top: 10px;
  }

  &_addAlign{
    width:100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    &_btn{
      padding-left: 10px;
      cursor: pointer;
      &:hover{
        color:#1399e7
      }
    }
    &_btnAct{
      padding-left: 10px;
      color:#1399e7
    }
    &_modal{
      position: absolute;
      top: 30px;
      left: 30px;
      width: 325px;
      height: 375px;
      padding: 5px 0px;
      background: white;
      border-radius: 5px;
      box-shadow: rgb(197, 196, 196) 0 0 1px 1px;
      z-index: 11;
      &_close{
        width: 20px;
        height: 20px;
        font-size: 16px;
        right: 0px;
        top: 0px;
        color: #c2c1c1;
        cursor: pointer;
        position: absolute;
      }
      &_input{
        font-size:12px;
        width: 90%
      }
      &_maincontent{
        height: 325px;
        overflow-y: auto;
        width:100%;
        padding-right: 15px;
      }
      &_nameRow{
        line-height: 30px;
        width: 100%;
        height: 30px;
        font-size: 12px;
        text-align: left;
        background: rgba(194, 193, 193, 0.445);
        margin-bottom: 10px;
      }
      &_okrRow{
        line-height: 16px;
        width: 100%;
        font-size: 12px;
        text-align: left;
        margin-bottom: 18px;
        &_selected{
          color: #3eb33e;
          font-size: 16px;
          padding-left: 4px;
        }
      }
      &_oIndex{
        width: fit-content;
        min-width: 20px;
        height: 16px;
        line-height: 16px;
        font-weight: 600;
        color:white;
        font-size: 12px;
        background: #1890ff;
        letter-spacing: 1px;
        border-radius: 6px;
        text-align: center;
      }
      &_content{
        padding-left: 10px;
      }
      &_confirm{
        width:80%;
        margin-left: 20%;
        margin-top: 15px;
        height: 30px;
      }
    }
    &_alignItem{
      position: relative;
      width:fit-content;
      display: inline-block;
      height: 30px;
      font-size: 12px;
      padding-right: 10px;
      &_remove{
        //padding-left: 5px;
        width: 12px;
        height: 12px;
        position: relative;
        top:-5px;
        cursor: pointer;
        font-size: 10px;
      }
      &_more{
        position: absolute;
        top: 30px;
        width: 325px;
        min-height: 30px;
        padding: 5px;
        background: white;
        border-radius: 5px;
        box-shadow: rgb(197, 196, 196) 0 0 1px 1px;
        z-index: 11;
        //line-height: 20px;
        &_O{
          height: 20px;
          line-height: 20px;
          font-weight: 600;
          color:white;
          font-size: 14px;
          font-weight: bold;
          background: #1890ff;
          letter-spacing: 1px;
          border-radius: 6px;
          text-align: center;
          padding: 0 3px;
          margin-top: 5px
        }
      }
    }
  }
}

.krItem{
  &_normalCtn{
    user-select: none;
    padding-top: 8px;
    background: rgb(255, 255, 255);
    opacity: 1;
    border-top: none;
    border-right: none;
    border-bottom: 1.5px solid rgb(191, 191, 191);
    text-align: center;
  }
  &_remove{
    position: absolute;
    right: 0;
    margin:auto;
    top:0;
    bottom:0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &_icon{
      font-size: 16px;
      color: #bfbfbf;
      vertical-align: top;
    }
  }
  &_remove:hover{
    transform:scale(1.2)
  }
  &_weightCtn{
    position: relative;
    top: -3px;
    width:75px;
    &_input{
      background: #dadada8c;
      width: 60px;
      color: #6b6a6a;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
    }
    &_inputDis{
      //background: #dadada8c;
      width: 60px;
      color: #6b6a6a !important;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
  &_valueCtn{
    width:180px;
    position: absolute;
    right: 25px;
    top: -3px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    &_Row{
      height: 30px;
      line-height: 30px;
    }
  }
}

.myProgress{
  width: 40px;
  height: 30px;
  //background: #0010163f;
  position: relative;
  margin:auto;
  &_detailCtn{
    font-size: 12px;
    background: white;
    text-align: left;
    border-radius: 5px;
    box-shadow: rgb(197, 196, 196) 0 0 1px 1px;
    padding:5px 10px;
    width: 120px;
    min-height: 70px;
    height: fit-content;
    position: absolute;
    top:0px;
    left:38px;
    z-index: 10;
    &_btn{
      text-align: center;
      cursor: pointer;
      font-size: 12px;
      // &:hover{
      //   color:#1399e7
      // }
    }
  }
  &_updateModal{
    width: 140px;
    height: 225px;
    padding: 5px 10px;
    background: white;
    border-radius: 5px;
    box-shadow: rgb(197, 196, 196) 0 0 1px 1px;
    z-index: 11;
    position: relative;
    left: 10px;
    &_title{
      font-weight: bold;
      text-align: left;
    }
    &_btn{
      font-size: 12px;
    }
    &_input{
      background: #dadada8c;
      width: 60px;
      color: #6b6a6a;
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
}

.myRadioGP{
  @mixin dotCtn{
    position: absolute;
    width:14px;
    height: 14px;
    border-radius: 50%;
    margin:auto;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    cursor: pointer;
  }
  @mixin dot{
    position: absolute;
    width:10px;
    height: 10px;
    border-radius: 50%;
    margin:auto;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    cursor: pointer;
  }
  &_dotCtn1{
    @include dotCtn;
    box-shadow:0 0 0 1px #1399e7
  }
  &_dot1{
    @include dot;
    background: #1399e7
  }
  &_dotCtn2{
    @include dotCtn;
    box-shadow:0 0 0 1px orange
  }
  &_dot2{
    @include dot;
    background: orange
  }
  &_dotCtn3{
    @include dotCtn;
    box-shadow:0 0 0 1px red
  }
  &_dot3{
    @include dot;
    background: red
  }
}